<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpotifyWebRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SpotifyRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SpotifyWebRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SpotifyRecorder.Forms.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>  
  <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <SpotifyWebRecorder.Forms.UI.Settings>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="Bitrate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeleteThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DeleteThresholdEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko</value>
      </setting>
      <setting name="MuteAds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value>https://player.spotify.com</value>
      </setting>
    </SpotifyWebRecorder.Forms.UI.Settings>
  </userSettings>
</configuration>
